@font-face {
    font-family: pp;
    src: url('PPNeueMontreal-Medium.otf');
}

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pp', sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
}

.loader img {
    position: absolute;
    top: 18.5vw;
    left: 42.5vw;
    z-index: 99;
    border: solid 1px black;
    border-radius: 50%;
}

.loader .left-door {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: #f3f3f9;
    border-top: solid 2px black ;
    border-right:solid 1px black;
    border-bottom: solid 2px black;
}

.loader .right-door {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 90;
    background-color: #f3f3f9;
    border-top: solid 2px black ;
    border-left:solid 1px black;
    border-bottom: solid 2px black;
}

.page1 {
    height: 100vh;
    width: 100%;
    position: relative;
}

.page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}